In [1]:
## task 1
print("hello,world")

hello,world

In [2]:
##task2
print("*\n**\n***\n****\n")

*
**
***
****

In [4]:
a=23
b=45
c=a+b
print(c)

68

In [12]:
a=23
b=45
c=a-b
print(c)

-22

In [13]:
a=23
b=45
c=a*b
print(c)

1035

In [14]:
a=23
b=45
c=a/b
print(c)

0.5111111111111111

In [15]:
a=23
b=45
c=a//b
print(c)

0

In [16]:
##	Create a variable x that stores an integer. Print out x, 2x, 3x, 4x, and 5x, each separated by three dashes, like below if x=7. (hint: use multiplication operator and print function)
x=7
print(f"{x}---{x*2}---{x*3}---{x*4}---{x*5}")

7---14---21---28---35

In [18]:
num=int(input("Enter the num:"))
num

Enter the num: 12

12

In [19]:
float=int(input("Enter the num:"))
num

Enter the num: 12

12

In [21]:
##	Write a program that produces the following output using variables instead of hardcoding:
print("""
H
HH
HHH
HHHH
HHHH
""")

H
HH
HHH
HHHH
HHHH

In [2]:

##Write a program that reads an integer and determines and prints whether it is odd or even.
num=int(input("enter the number"))
if num%2==0:
    print("num is even")
else:
    print("num is odd")

enter the number 12

num is even

In [3]:
num=int(input("enter the value:"))
if num%2==0:
    print("even")
else:
    print("odd")

enter the value: 13

odd

In [ ]:
##Which of the following expressions results in SyntaxErrors? Identify the syntax SyntaxErrors and type the reason of error along with the correct code by mentioning its sequence number

In [4]:
n= 6*----8
n

48

In [5]:
p=(((4*3)))
p

12

In [6]:
q=(-(-(-(-5))))
q

5

In [7]:
o= 8=people
o

SyntaxError: cannot assign to literal (2342944035.py, line 1)

In [8]:
r=4+7
r

11

In [10]:
## Using only the techniques you have learned so far, write a program that calculates the square and cube of the numbers from 0 to 10 and uses tabs to print the following table of values
x=0
print("number\tsquare\tcube")
print(f"{x}\t{x*2}\t{x*3}")
x=1
print(f"{x}\t{x**2}\t{x**3}")
x=2
print(f"{x}\t{x**2}\t{x**3}")
x=3
print(f"{x}\t{x**2}\t{x**3}")
x=4
print(f"{x}\t{x**2}\t{x**3}")
x=5
print(f"{x}\t{x**2}\t{x**3}")
x=6
print(f"{x}\t{x**2}\t{x**3}")
x=7
print(f"{x}\t{x**2}\t{x**3}")
x=8
print(f"{x}\t{x**2}\t{x**3}")
x=9
print(f"{x}\t{x**2}\t{x**3}")

number	square	cube
0	0	0
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125
6	36	216
7	49	343
8	64	512
9	81	729

In [12]:
## Write a program that assigns values to two variables and then swap their values. 
p,q=5,7
print("before swap",p,q)
temp=p
p=q
q=temp
print("after swap",p,q)

before swap 5 7
after swap 7 5

In [13]:
##Write a program that inputs one five-digit number, generates its reverse and displays the reverse on screen.(Hint: Make use of the arithmetic operators modulus (%) and floor (// )
num= int(input("Enter the number:"))

reverse=0
while num >0:
    remainder=num%10
    reverse=(reverse*10)+remainder
    num=num//10
    print("Reverse is:",reverse)

Enter the number: 12345

Reverse is: 5
Reverse is: 54
Reverse is: 543
Reverse is: 5432
Reverse is: 54321

In [30]:
##	Write a program to prompt for a score between 0.0 and 1.0. If the score is out of range, print an error message. If the score is between 0.0 and 1.0, print a grade using the following table:
num=float(input("Enter the number"))

if(num>=0.1):
    print("A")
elif(num>=0.3):
    print("B")
elif(num>=0.7):
    print("C")
else:
    print("error ")

Enter the number 0.1

A

In [31]:
##	Write a program that produces the following output using variables instead of hardcoding:
print("""
HHHHH
HHHHH
HHHH
HH
H
""")

HHHHH
HHHHH
HHHH
HH
H

In [35]:
##	Write a program that asks the user to enter two numbers, obtains the two numbers from the user and prints the sum, product, difference, quotient and remainder of the two numbers. Sample output is as following:
num1=float(input("Enter the num1:"))
num2=float(input("Enter the num2:"))

sum=num1+num2
product=num1*num2
difference=num1-num2
product=num1*num2
quotient=num1/num2

print(sum)
print(difference)
print(product)
print(quotient)

Enter the num1: 12
Enter the num2: 23

35.0
-11.0
276.0
0.5217391304347826

In [37]:
##Using whatever we have learned so far, write a program that prints a box, an oval, an arrow and a diamond as follows:
print("###")
print("# #")
print("# #")
print("###")

###
# #
# #
###

In [39]:
print("#####")
print("#   #")
print("#   #")
print("#   #")
print("#   #")
print("#####")

#####
#   #
#   #
#   #
#   #
#####

In [45]:
print("*")
print("**")
print("****")
print("""*
*
*
*""")

*
**
****
*
*
*
*

In [46]:
print("*")
print("**")
print("*****")
print("******")
print("*****")
print("***")
print("*")

*
**
*****
******
*****
***
*